<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vueblog.mapper.BlogLikeMapper">

        <delete id="deleteByBlogId" parameterType="long">
            DELETE FROM m_blog_like WHERE blog_id = #{blogId}
        </delete>
    </mapper>
